<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-购物车</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.0.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'js/car1.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'js/car.js' %}"></script>#}

    <script type="text/javascript">
        {#    加减号更新数据库    #}
        $(function () {
            $("#total_spend").html(0);
            $("#num_checked").html(0);

            let s = $("#valid").html();
            {#alert(typeof (s));#}
            if (s == 1) {
                {#alert(456);#}
                $(".login_info").show();
                $(".login_btn").hide();
            } else {
                {#alert(123);#}
                $(".login_info").hide();
                $(".login_btn").show();
                $("#count").html(0)
            }
        });


        function fp(obj) {
            let num = $(obj).next().val();
            let t = $(obj).parent().parent().next().find("span").html();
            let pri = $(obj).parent().parent().prev().html();
            let name = $(obj).parent().parent().prev().prev().prev().prev().children().attr("src");
            if (num >= 100) {
                num = 100;
                $(obj).next().val(num);
                let s = 100 * parseFloat(pri);
                $(obj).parent().parent().next().find("span").html(s.toFixed(2))
            } else {
                num++;
                alert(456);
                $.ajax({
                    type: 'POST',
                    url: "{% url 'user:cart_update' %}",
                    data: {"num": num, "p_name": name, crsvmiddletoken: "csrf_token"},
                    dataType: "json",
                    success: function (data) {
                        alert(4567)
                    }

                });
                $(obj).next().val(num);
                let s = num * parseFloat(pri);
                $(obj).parent().parent().next().find("span").html(s.toFixed(2));
                let checked = $(obj).parent().parent().prev().prev().prev().prev().prev().children('input');
                if (checked.is(":checked") === true) {
                    let money = $("#total_spend").html();
                    money = parseFloat(money) + parseFloat(pri);
                    $("#total_spend").html(money.toFixed(2));
                }
            }
        }

        function minus(obj) {
            let num = $(obj).prev().val();
            let t = $(obj).parent().parent().next().find("span").html();
            let pri = $(obj).parent().parent().prev().html();
            let name = $(obj).parent().parent().prev().prev().prev().prev().children().attr("src");
            if (num <= 1) {
                num = 1;
                $(obj).prev().val(num);
                let s = num * parseFloat(pri);
                $(obj).parent().parent().next().find("span").html(s.toFixed(2))
            } else {
                num--;
                alert("123");
                $.ajax({
                    type: 'POST',
                    url: "{% url 'user:cart_update' %}",
                    data: {"num": num, "p_name": name, crsvmiddletoken: "csrf_token"},
                    dataType: "json",
                    success: function () {
                        alert(1234)
                    }

                });
                $(obj).prev().val(num);
                let s = num * parseFloat(pri);
                $(obj).parent().parent().next().find("span").html(s.toFixed(2));
                let checked = $(obj).parent().parent().prev().prev().prev().prev().prev().children('input');
                if (checked.is(":checked") === true) {
                    let money = $("#total_spend").html();
                    money = parseFloat(money) - parseFloat(pri);
                    $("#total_spend").html(money.toFixed(2));
                }
            }
        }

        // 添加eventlisten 来检测数据
        function allchoose(obj) {
            $(".choose_box").each(function (i) {
                if ($(obj).is(":checked") === false) {
                    $(this).prop("checked", false);
                    $("#num_checked").html(0);
                    $("#total_spend").html(0);
                } else {
                    $(this).prop("checked", true);
                }
            });
            if ($(obj).is(":checked") === true) {
                let money = 0;
                let num = 0;
                $(".choose_box").each(function () {
                    num++;
                    let sing_spend = $(this).parent().next().next().next().next().next().next().children("span").html();
                    money = money + parseFloat(sing_spend)
                });
                $("#total_spend").html(money.toFixed(2));
                $("#num_checked").html(num);
            }
        }

        function choose() {
            let num = 0;
            let count = 0;
            let money = 0;
            if ($("#allchoose").is(":checked") === true) {
                $(".choose_box").each(function (i) {
                    if ($(this).is(":checked") === false) {
                        $("#allchoose").prop("checked", false);
                        return true;
                    } else {
                        count++;
                        let sing_spend = $(this).parent().next().next().next().next().next().next().children("span").html();
                        money = money + parseFloat(sing_spend)

                    }
                });
                $("#num_checked").html(count);
                $("#total_spend").html(money.toFixed(2));
                if ($(obj).is(":checked") === false) {
                    let money = 0;
                    $(".choose_box").each(function () {
                        let sing_spend = $(this).parent().next().next().next().next().next().next().children("span").html();
                        {#alert(sing_spend);#}
                        money = money + parseFloat(sing_spend)
                    });
                    $("#total_spend").html(money.toFixed(2));
                }
            } else {
                money = 0;
                $("#total_spend").html(0);
                $(".choose_box").each(function (i) {
                    if ($(this).is(":checked") === true) {
                        num++;
                    } else {
                        money = 0;
                        $(".choose_box").each(function () {
                            if ($(this).is(":checked") === true) {
                                let sing_spend = $(this).parent().next().next().next().next().next().next().children("span").html();
                                money = money + parseFloat(sing_spend);
                                $("#total_spend").html(money.toFixed(2));
                            }
                        });
                    }
                });

                if ($(".choose_box").length === num) {
                    $("#allchoose").prop("checked", true);
                    money = 0;
                    $(".choose_box").each(function () {
                        if ($(this).is(":checked") === true) {
                            let sing_spend = $(this).parent().next().next().next().next().next().next().children("span").html();
                            money = money + parseFloat(sing_spend);
                            $("#total_spend").html(money.toFixed(2));
                        }
                    });
                }
                $("#num_checked").html(num);
            }

        }

        function submited() {
            let prod_detail_list = new Array();
            let num = 0;
            $(".price").each(function (i) {
                let each_checked = $(this).parent().prev().prev().children('input').is(":checked");
                if (each_checked === true) {
                    {#物品名字#}
                    let goods_name = $(this).html();
                    prod_detail_list[num] = $(this).html();
                    {#物品#}
                    prod_detail_list[num + 2] = $(this).parent().next().next().next().children().children('input').val();
                    prod_detail_list[num + 1] = $(this).parent().next().next().next().next().children('span').html();
                }
                num = num + 3;
            });
            let order_list = JSON.stringify(prod_detail_list);
            {#let order_list=toString(prod_detail_list);#}
            let s = order_list.length;
            alert(s);
            if (order_list.length > 2) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'user:submit_order' %}",
                    {#async:'false',#}
                    data: {"order": order_list, crsvmiddletoken: "csrf_token"},
                    dataType: "json",
                    success: function (data) {
                        alert(123456789);
                        {#window.location.href = "{% url 'user:place_order' %}";#}
                        {#f()#}
                        $(window).attr("location", "{% url 'user:place_order' %}")

                    }
                })

            }
        }
        function f() {
            location.href="http://www.baidu.com"
        }
    </script>

</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!<span id="valid" style="visibility: hidden">{{ valid }}</span></div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>{{ username }}</em>
            </div>
            <div class="login_btn fl">
                <a href="{% url 'user:loginpage' %}">登录</a>
                <span>|</span>
                <a href="{% url 'user:registpage' %}">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="{% url 'user:user_center_info' %}">用户中心</a>
                <span>|</span>
                <a href="{% url 'user:cart' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'user:user_center_order' %}">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="{% url 'user:loginpage' %}" class="logo fl"><img src="{% static 'images/logo.png' %}" alt=""></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" title="">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="total_count">全部商品<em id="total_count">{{ num }}</em>件</div>
<ul class="cart_list_th clearfix">
    <li class="col01">商品名称</li>
    <li class="col02">商品单位</li>
    <li class="col03">商品价格</li>
    <li class="col04">数量</li>
    <li class="col05">小计</li>
    <li class="col06">操作</li>
</ul>
{% for c in product %}
    <ul class="cart_list_td clearfix">
        <li class="col01"><input type="checkbox" name="choose" class="choose_box" onclick="choose()" title=""></li>
        {% for p in picture %}
            {% if c.car_product_foreignkey.product_name == p.picture_name %}
                <li class="col02"><img src="{{ MEDIA_URL }}{{ p.picture_icron }}" alt=""></li>
            {% endif %}
        {% endfor %}
        <li class="col03"><span
                class="price">{{ c.car_product_foreignkey.product_name }}</span><br><em>{{ c.car_product_foreignkey.product_price }}元/500g</em>
        </li>
        <li class="col04">500g</li>
        <li class="col05">{{ c.car_product_foreignkey.product_price }}元</li>
        <li class="col06">
            <div class="num_add">
                <a href="javascript:" class="add fl" id="plus" onclick="fp(this)">+</a>
                <input type="text" class="num_show fl" value="{{ c.car_num }}" disabled title="">
                <a href="javascript:" class="minus fl" id="" onclick="minus(this)">-</a>
            </div>
        </li>
        <li class="col07"><span id="total">{{ c.car_single_total }}</span>元</li>
        <li class="col08"><a href="{% url 'user:cart_del' c.id %}">删除</a></li>
    </ul>
{% endfor %}

<ul class="settlements">
    <li class="col01"><input type="checkbox" name="allchoose" id="allchoose" onclick="allchoose(this)" title="" \></li>
    <li class="col02"><span>全选</span><span>{{ erro }}</span></li>
    <li class="col03">合计(不含运费)：<span>¥</span><em id="total_spend"></em><br>共计<b id="num_checked">{{ num }}</b>件商品</li>
    <li class="col04"><a href="" onclick="submited()"> 去结算 </a></li>
</ul>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
</body>
</html>