<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    {% load static from staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'markeysystem/css/style.css' %}"/>
    {#    <script type="text/javascript" src="{% static 'markeysystem/js/jquery-3.3.1.js' %}"></script>#}
    <script type="text/javascript">
        function logout() {
            let s = confirm("确认退出管理系统吗？");
            if (s) {
                top.location.href = "{% url 'user:login' %}"
            } else {

            }
        }
    </script>
</head>
<body class="frame-bd">
<ul class="left-menu">
    <li><a href="{% url 'user:admin_bill_list' %}" target="mainFrame"><img
            src="{% static 'markeysystem/images/btn_bill.gif' %}"/></a></li>
    <li><a href="{% url 'user:providerAdmin' %}" target="mainFrame"><img
            src="{% static 'markeysystem/images/btn_suppliers.gif' %}"/></a></li>
    <li><a href="{% url 'user:userAdmin' %}" target="mainFrame"><img
            src="{% static 'markeysystem/images/btn_users.gif' %}"/></a></li>
    <li><a href="#" onclick="logout()"><img src="{% static 'markeysystem/images/btn_exit.gif' %}"/></a></li>
</ul>
</body>
</html>
