<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Insert title here</title>
    {% load static from staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'markeysystem/css/style.css' %}">
    <script type="text/javascript">
        function doit(flag, id) {
            if (flag == "del") {
                if (confirm("确认删除吗？") != true)
                    return;
            }
        }
    </script>
</head>
<body>


<div class="menu">

    <table>
        <tbody>
        <tr>
            <td>
                <form method="post" action="{% url 'user:userAdmin' %}">
                    {% csrf_token %}
                    <input name="flag" value="search" class="input-text" type="hidden">
                    用户名称：<input name="userName" class="input-text" type="text">&nbsp;&nbsp;&nbsp;&nbsp; <input
                        value="查 询" type="submit">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main">

    <div class="optitle clearfix">
        <em><input value="添加数据" class="input-button" onclick="window.location='{% url 'user:userAddpre' %}'" type="button"></em>
        <div class="title">用户管理&gt;&gt;</div>
    </div>
    <div class="content">
        <table class="list">
            <tbody>

            <tr>
                <td width="70" height="29">
                    <div class="STYLE1" align="center">编号</div>
                </td>
                <td width="80">
                    <div class="STYLE1" align="center">用户名称</div>
                </td>
                <td width="100">
                    <div class="STYLE1" align="center">性别</div>
                </td>
                <td width="100">
                    <div class="STYLE1" align="center">年龄</div>
                </td>

                <td width="150">
                    <div class="STYLE1" align="center">电话</div>
                </td>
                <td width="150">
                    <div class="STYLE1" align="center">地址</div>
                </td>
                <td width="150">
                    <div class="STYLE1" align="center">权限</div>
                </td>
            </tr>
            {% for u in list %}
                <tr>
                    <td height="23"><span class="STYLE1">{{ u.user_No }}</span></td>
                    <td><span class="STYLE1"><a href="{% url 'user:user_getdata' u.id %}" onclick="doit('mod',1)" style="text-decoration: blink">{{ u.user_name }}</a></span></td>
                    {% if u.user_gender %}
                        <td><span class="STYLE1">男</span></td>
                    {% else %}
                        <td><span class="STYLE1">女</span></td>
                    {% endif %}
                    <td><span class="STYLE1">{{ u.user_age }}</span></td>
                    <td><span class="STYLE1">{{ u.user_phone }}</span></td>
                    <td><span class="STYLE1">{{ u.user_address }}</span></td>
                    {% if u.job_type %}
                        <td><span class="STYLE1">admin权限</span></td>
                    {% else %}
                        <td><span class="STYLE1">普通权限</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>